<header>
    <nav class="nav__head">

        <li>
            <a href="/"> Home </a>
        </li>
        <li>
            <a href="/add-product"> Add product </a>
        </li>
        <li>
            <a href="/view-product"> View product </a>
        </li>
    </nav>
</header>