<% include ./partials/header.ejs %>

    <title>Document</title>
    </head>

    <body>
        <% include ./partials/navbar.ejs %>

            <h1 style="text-align: center; margin-bottom:1.5em;">Add Product Form</h1>

            <main>

                <form action="/add-product" method="POST" class="form-add-product">
                    <div class="form-add-product__name">

                        <label for="item-name">Product Name</label>
                        <input type="text" name="item-name">
                    </div>

                    <div class="form-add-product__price">
                        <label for="item-price">Product Price</label>
                        <input type="text" name="item-price">
                    </div>

                    <div class="form-add-product__submit">
                        <button type="submit"> Submit product </button>
                    </div>
                </form>

            </main>
    </body>

    </html>