<% include ./partials/header.ejs %>
    <title>Document</title>
    </head>

    <body>

        <% include ./partials/navbar.ejs %>
            <main>
                <h1>
                    Things To Make
                </h1>
                <ul>
                    <li>Creating Database and system for Adding products through node</li>
                </ul>

            </main>
    </body>

    </html>