<% include ./partials/header.ejs %>
    <title>Document</title>
    </head>

    <body>


        <% include ./partials/navbar.ejs %>


            <div class="view-product__card--head">
                <div class="view-product__name">
                    <%= title %>

                </div>
                <div class="view-product__image">
                    <%= image_url %>

                </div>
                <div class="view-product__price">
                    <%= price %>

                </div>
            </div>


    </body>

    </html>